@import "catppuccin.css";

@define-color base-2 rgba(30, 30, 46, 0.5);
@define-color base-3 rgba(30, 30, 46, 0.5);
@define-color surface1-1 rgba(69, 71, 90, 0.4);
@define-color lavender-1 rgba(180, 190, 254, 1);

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 16px;
    border-radius: 8px;
    min-height: 0;
}

window#waybar {
    background-color: @base-2;
    margin: 16px 16px;
    color: @lavender;
}

#hypr,
#group-hypr {
    background-color: @base-3;
    border-radius: 14px;
}

#custom-active-window {
    background-color: @lavender-1;
    margin: 2px 2px 2px 12px;
    padding: 0px 10px;
    color: @base;
    min-width: 250px;
    border-radius: 12px;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    color: @lavender;
    padding: 0px 9px 0px 4px;
}

#workspaces button:hover {
    background: @surface1-1;
}

#clock,
#custom-launcher,
#tray,
#battery,
#hardware,
#backlight,
#network,
#pulseaudio,
#custom-mako,
#custom-powermenu,
#custom-waypaper,
#custom-clipboard {
    padding: 3px 13px;
    margin: 3px 0px;
    background-color: @mantle;
}

#hardware > widget {
    margin: 0px 4px;
}

#hardware > widget:first-child {
    margin-left: 0px;
}

#hardware > widget:last-child {
    margin-right: 0px;
}

#custom-separator {
    color: alpha(@lavender, 0.3);
    margin: 0px 8px;
}

#custom-powermenu,
#custom-mako,
#custom-waypaper,
#custom-clipboard {
    padding-right: 16px;
}

#custom-powermenu {
    color: @red;
}
