@import "catppuccin.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @base;
    color: @lavender;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 0px;
    transition-duration: 0.5s;
    margin: 16px 16px;
}

#workspaces {
    background-color: transparent;
    padding: 0.2em;
    margin-left: 8px;
}

#clock,
#workspaces button {
    border-radius: 8px;
    padding: 2px 8px 2px 8px;
    margin: 7px 4px 7px 4px;
    border: 1px solid @lavender;
    font-size: 14px;
}

#clock {
    margin: 7px 0px 7px 0px;
    padding: 2px 16px 2px 13px;
}

#workspaces button:hover {
    color: @lavender;
    background: @mantle;
}

#workspaces button.active {
    color: @mantle;
    background: @lavender;
}

#custom-launcher,
#tray,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-dunst,
#custom-powermenu,
#custom-waypaper {
    padding: 2px 16px 2px 13px;
    margin: 7px 0px 7px 0px;
    border-radius: 8px;
    color: @lavender;
}

#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-dunst,
#custom-powermenu,
#custom-waypaper {
    background-color: @mantle;
}

#custom-dunst {
    padding: 2px 16px 2px 13px;
}

#pulseaudio {
    padding: 2px 20px 2px 17px;
}

#network {
    padding: 2px 15px 2px 20px;
}

#custom-powermenu {
    color: @crust;
    background-color: @red;
    margin-right: 10px;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

label:focus {
    background-color: #000000;
}
