@import "catppuccin.css";

@define-color base-2 rgba(30, 30, 46, 0.4);
@define-color mantle-1 rgba(24, 24, 37, 0.8);
@define-color overlay0-1 rgba(108, 112, 134, 0.8);

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 16px;
    border-radius: 8px;
    min-height: 0;
}

window#waybar {
    background-color: @base-2;
    margin: 16px 16px;
    color: @lavender;
}

#custom-active-window {
    color: @lavender;
    margin-left: 5px;
    padding: 0px 10px;
    border-radius: 12px;
}

#workspaces {
    background-color: transparent;
    margin-right: 10px;
}

#workspaces button {
    color: @lavender;
    padding: 0px 11px 0px 5px;
}

#workspaces button:hover {
    border-radius: 8px;
    background: @surface1-1;
}

#mpris,
#hypr,
#clock,
#custom-launcher,
#tray,
#battery,
#hardware,
#backlight,
#network,
#pulseaudio,
#custom-mako,
#custom-powermenu,
#custom-waypaper,
#custom-clipboard {
    padding: 3px 13px;
    margin: 3px 0px;
    background-color: @mantle-1;
}

#hypr {
    margin-left: 3px;
    border-radius: 14px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#hardware {
    min-width: 233px;
}

#hardware > widget {
    margin: 0px 4px;
}

#hardware > widget:first-child {
    margin-left: 0px;
}

#hardware > widget:last-child {
    margin-right: 0px;
}

#custom-separator {
    color: alpha(@lavender, 0.3);
    margin: 0px 8px;
}

#custom-powermenu,
#custom-mako,
#custom-waypaper,
#custom-clipboard {
    padding-right: 16px;
}

#custom-powermenu {
    color: @red;
    margin-right: 3px;
}
